!!!
%html
  %head
    /- title_default = 'Documents Collection DB'
    /%title= content_for(:title) || title_default
    %title= page_title
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = render 'layouts/shim'

  %body
    = render 'layouts/header'
    = yield
    = render 'layouts/footer'
